#edit {
  width: 600px;
  margin: 30px auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form label,
form select {
  height: 40px;
  line-height: 40px;
}

input.invalid {
  border-color: red;
  color: red;
}

input[type="submit"] {
  margin-top: 40px;
}

a {
  color: black;
}
