#wrapper,
h1 {
  margin: 60px 0;
}

div.flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
section {
  display: flex;
  width: 49%;
  flex-direction: column;
}
